<div class="container">
<p> Name: <%= @category["name"] %> </p><br>
<p> Products in this category: 
<% @list_prod.each do |product| %>
<li> <%= product["name"] %> </li>
<% end %>
</p>

<a href="<%=@category["id"]%>/edit"> Edit this category.</a><br>
<a href="/categories"> Back to categories page</a><br><br>
<form action="/categories/<%= @category["id"] %>/destroy" method="post">
    <input type="submit" name="" value="Delete this category">
</form>
</div>